main{
    position: relative;
}

div.form--wrapper{
    max-width: 320px;
    margin: auto;
    padding-top:8em;
}

div.register--div{
    padding-top:5em;
    max-width: 340px;
    margin: auto;
}

div.form--wrapper form{
    background-color: var(--clr-white);
    margin-top:1.2em;
    padding:2rem 1.2rem 2.4rem 1.2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} 

div.form--wrapper h2{
    text-align: center;
     font-weight: var(--font-semi-bold);
     margin-bottom:1em;   
     font-size: var(--h2-font);
}

form span.close{
    float:right;
    font-weight: var(--font-semi-bold);
    font-size: var(--h1-font);
    margin-top:-1.5em;
    background-color: var(--clr-nav);
    padding:0.25rem 0.75rem;
    margin-right:-0.65em;
    outline:1px solid var(--clr-text);
    cursor: pointer;
    border-radius: 0.125rem;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    -ms-border-radius: 0.125rem;
    -o-border-radius: 0.125rem;
}



form  label{
    display:block;
    color: var(--clr-primary);
    margin:0.75rem 0;
    font-weight: var(--font-semi-bold);
}
form  input{
    width: 100%;
    padding:0.75rem 0.5rem;
    background: transparent;
    margin-top:0.5em;
    outline:1px solid var(--clr-border);
    font-size: 1.2rem;
    border-radius: 0.125rem;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    -ms-border-radius: 0.125rem;
    -o-border-radius: 0.125rem;
    font-family: inherit;
}
form  input:focus{
    outline:1px solid var(--clr-assets);

}

form button.btn{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    margin-top:var(--mb-2);
    padding:1rem 0;
    pointer-events: visible;
    border-radius: 0.125rem;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    -ms-border-radius: 0.125rem;
    -o-border-radius: 0.125rem;
}

form button.inprogress{
    pointer-events: none;
}

form button.btn:focus{
    outline:1px solid;
}

form button.btn.loader span{
    margin-left:var(--mb-1);
}

form button.btnRegister{
    background-color: var(--clr-green);
   color: var(--clr-text);
}

form button.btnLogin{
    background-color: var(--clr-primary);
   color: var(--clr-white);
}

form input[type="radio"]{
    width: auto;
    margin-right:var(--mb-0-25);
    cursor: pointer;
}
 
 
/* ==== update form  */

div.form--wrapper{
    padding-top:2rem;
    margin-top:1em;
}

form.update__form{
  outline: 1px solid var(--clr-nav-2);
}

div.form--wrapper form.update__form{
    background:  transparent;
}