<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/styles.css">


<script src="../js/nav-popup.js" type="text/javascript" defer></script>

<div id="app">
    <div class="app__container">

        <%- include('./partials/_navbar'); %>

            <main>
                <div class="hrgroup">

                    <h1>
                        <span>Welcome to, </span>
                        employee review system
                    </h1>
                    <p>Be the first one to get reviewed !</p>
                </div>

                <img src="../images/employe.png" alt="employee" class="employee__img" draggable="false">

            </main>
    </div>
    
</div>